body {
  margin: 0;
}

.heading {
  display: inline-block;
  font-size: 50px;
  height: 300px;
  position: absolute;
  width: 100%;
}

#heading{
  display: block;
  height : 115px;
  margin: 91.5px auto;
  width: 570px;
}
h3 {
  display: inline-block;
  font-size: 25px;
  top: 200px;
}

img {
  border-radius: 25px;
  top: 400px;
  transition: .5s;
  transition-delay: .1s;
  width: 160px;
}

img:hover {
  width: 180px;
}

.l-image {
  left: 40px;
  position: absolute;
}

.pas-image {
  left: 240px;
  position: absolute;
}

.pi-image {
  right: 40px;
  position: absolute;
}

.italian {
  display: inline-block;
  height: 400px;
  position: absolute;
  right: 0;
  top: 300px;
  width: 640px;
}
